extend _layout2

block content
	.divider-20

	include partials/breadcrumbs

	.page-title: .w100.h75: body: tr: td: h1.h1-28.page-title-header
		|Продажа 2-комнатных квартир с балконами по ипотеке без торга в Москве и области с фото

	.divider-20

	.container-24
		.grid-7
			.filter
				h2 assdasd

		.grid-17
			.offers-2
				.heading 
					.title 12 535 объявлений
					.actions
						a.active(href="#") Новые
						a(href="#") Видео
						a(href="#") Много фото
						span.group
							a(href="#") Дешевле
							a(href="#") Дороже
						a(href="#") ...

				.list
					+offer(1, 'sp', false, 0, 0, 'Апартаменты в центре Москвы!', 'Звоните!', 'Готовые апартаменты со скидкой 20%! М.Белорусская, м. Бауманская. Собственники делают ремонт!', ['м. Бауманская'], '+7 (495) 646-04-15', '')
					+offer(2, 'sp', false, 0, 0, 'V-House. Дарим 500 000 руб!', '188 000', 'Нагорная. 5 мин. от ТТК. Подземный паркинг. Окончание строительства – дек. 2015. Ипотека 11,55%', ['м. Нагорная'], '+7 (495) 120-02-43', 'Ведис Групп Ведис Групп Ведис Групп Ведис Групп')
					+offer(3, 'sp', false, 0, 0, 'Невесомые цены от 5 млн.руб!', '5 000 000', 'Квартиры бизнес-класса в ЖК «Лайнер» на Ходынке, 300м от метро. Закрытый двор, рядом парк.', ['м. Динамо'], '+7 (495) 112-20-20', 'Компания &laquo;Магистрат&raquo;')
					+offer(4, 'offer', false, 6, 0, 'ул. Ленинского комсомола, 413, корп 3', '14 322 151', 'Продается квартира, 4 комнаты, 146 м²', ['ст. Очаково'], '+7 (495) 983–30–00')
					+offer(5, 'notautherized', false, 6, 3, 'ул. Ярцевская, 20', '21 000 000', 'Продается квартира, 3 комнаты, 122 м²', ['м. Молодежная'], '+7 (495) 112-20-20')
					+offer(6, 'premium', false, 6, 1, 'ул. Ярцевская, 20', '21 000 000', 'Продается квартира, 3 комнаты, 122 м²', ['м. Молодежная'], '+7 (495) 112-20-20')
					
					.item-collapsed
						.title ул. Смирновская, 24
						.actions
							a(href="#")
								i.icon-font.icon-font-arrow-down
								|Показать

					+offer(6, 'offer', true, 6, 0, 'ул. Ярцевская, 20', '21 000 000', 'Продается квартира, 3 комнаты, 122 м²', ['м. Молодежная'], '+7 (495) 112-20-20')

			include partials/pagination
			include partials/show-more-button

		.clear


	mixin offer(id, typeClass, fade, photos, videos, title, price, desc, address, phone, company)
		.item(class=typeClass + ((fade) ? ' fade' : ''))
			a.photo(href="#")
				if typeClass != 'sp'
					span.slide-left
					span.slide-right
					span.frames
						span.frames-content
							span.frame: img(src="http://lorempixel.com/240/180/city/?r=1" + id)

					span.info
						if photos > 0
							span.ico.pictures 1/#{photos}
						if videos > 0
							span.ico.video #{videos}
				else
					img(src="/i/sp/sp-" + id + ".jpg")

			.data
				.title #{title}
				.price #{price}&nbsp;
					if price != 'Звоните!'
						span.valute.rub: i ⃏

				.desc #{desc}
				ul.transport
					each item in address
						li #{item} 
				.phone #{phone} 

				if typeClass != 'sp' && typeClass != 'notautherized'
					.actions
						a(href="#"): i.icon-font.icon-font-compare
						a(href="#"): i.icon-font.icon-font-heart_stroke
						a(href="#"): i.icon-font.icon-font-trash-big

				else
					.company !{company}
				
				if typeClass == 'notautherized'
					.actions
						a(href="#", data-title="Хочу"): i.icon-font.icon-font-heart_stroke
						a(href="#", data-title="Не хочу"): i.icon-font.icon-font-trash-big

	script(src="js/offers-2.0.js")
